h1 {

font-family: 'Montserrat', sans-serif;

}

/* navigation (below) */

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
}

/* navigation ^^ */